*.pyc
*.swp
.project
.settings
.pydevproject
build-stamp
configure-stamp
debian/files
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/helixcore/
dist/
debian/changelog
debian/LAST_VERSION
.gitconfig
