body {
    margin:2em 5% 2em 15%;
}
.json-docs * {
    margin:0;
    padding:0;
}

.json-docs .pseudolink {
    border-bottom:1px dotted #000000;
    cursor:pointer;
}
.json-docs .item {
    margin:1em 0 2em 0;
}
.json-docs ol {
    margin-left:1.2em;
}
.json-docs h1 {
    font-size:1.6em;
    font-family:sans-serif;
    margin-bottom:.2em;
}
.json-docs h2 {
    font-size:1.2em;
    font-family:sans-serif;
}
.json-docs p {
    margin:0 0 .5em 0;
}
.json-docs h3 {
    font-size:1em;
    font-family:sans-serif;
}
.json-docs {
    /*font-family:monospace;*/
}

.json-docs .optional {
    /*background:#ededed;
    border:dotted 1px #dedede;*/
}
.json-docs .brace,
.json-docs .hash_brace,
.json-docs .property {
    color:#222;
    font-weight:bold;
}
.json-docs .indent {
    margin-left:2em;
}

.json-docs .branching {
    border:solid 1px #ccc;
}
.json-docs .branching td {
    /*padding-right:4em;*/
    padding:0 2em;
    border-right:double 3px #ccc;
}
.json-docs td.branch_splitter {
    padding:0 0 0 0;
    border-right:none;
}
.json-docs .branching td:last-child {
    border:0;
}

.json-docs .variable {
    color:#22c;
}
.json-docs .list .variable {
    /*padding:0 .05em;*/
}

.json-docs .choice .brace,
.json-docs .choice .comma,
.json-docs .choice .hellip,
.json-docs .list .brace,
.json-docs .list .comma,
.json-docs .list .hellip {
    color:#22c;
    font-weight:bold;
}
.json-docs .string,
.json-docs .number,
.json-docs .none {
    color:#292;
}

.json-docs .block {
    border: solid 1px #ccc;
    padding: .7em 1.2em;
    margin: .5em 0;
    position: relative;
}

.json-docs .io-input .block {
    background: #FFFFEF;
}

.json-docs .io-output .block {
    background: #EFFFF0;
}

.json-docs .comment {
    color:#555;
    font-style:italic;
}
