Source: python-helixcore
Section: non-free/python
Priority: extra
Maintainer: Webdrive Developers <developers@webdrive.ru>
Build-Depends-Indep: debhelper (>= 7), python (>= 2.5), python-psycopg2 (>= 2.0.5)
Standards-Version: 3.7.3
Homepage: http://webdrive.ru

Package: python-helixcore
Architecture: all
Depends: python (>= 2.5), python-psycopg2 (>= 2.0.5)
Description: Helix family core library
 Contains postgres db wrapper, sql requests builder
 and patches system.
 Used by helixbilling software.
